@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
    /* font-weight: 300; */
}

html {
    font-size: 62.5;
}

body {
    background-color: hsl(206, 92%, 94%);
}

.main-div {
    width: 100%;
    min-height: 78vh;
    padding: 15px 0;
    display: grid;
    place-items: center;
    background-color: hsl(206, 92%, 94%);

}

/* *** */
.home_screen {
    width: 100%;
    /* height: 100vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 20px;
    gap: 25px;
}

.home_screen img {
    width: auto;
    height: 300px;
    max-width: 600px;
}

/* display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
} */
.start_btn {
    padding: 10px 35px;
    border-radius: 5px;
    font-size: 22px;
    background-color: #00b894;
    color: #fff;
    transition: all .3s ease-in;
    cursor: pointer;
}

.start_btn:hover {
    font-size: 25px;
}

/*  */

/* Nav */
nav {
    background-color: #0984e3;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

nav button {
    color: white;
    font-size: 22px;
    padding: 5px 15px;
    background-color: #00b894;
    border-radius: 5px;
    box-shadow: 2px 2px black;
    cursor: pointer;
    transition: all .3s ease-in;
}

 nav button:hover {
    font-size: 24px;
 }
 #home {
    display: none;
 }

 #timer{
    position: absolute;
    top: 15px;
    right: 50px;
    font-size: 25px;
    color: white;
 }
 /*icons-nav*/
 .fa-solid fa-gamepad {
    color: gold;
    font-size: 30px;

 }

/* Nav End */
.inner-div {
    width: fit-content;
    background-color: #fff;
    padding: 3rem 5rem;
    border-radius: 1rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
    display: none;
}

.inner-div h2 {
    font-size: 2.4rem;
    font-weight: 400;
    margin-top: 1 rem 0 4rem 0;


}

.inner-div li {
    font-size: 1.5rem;
    margin-top: 1.5rem;
    list-style: none;

}

input {
    cursor: pointer;

}

#submit,
.btn {
    padding: 1rem 2rem;
    outline: none;
    font-size: 1.5rem;
    font-size: 300;
    display: block;
    margin: auto;
    border: none;
    text-transform: uppercase;
    color: #fff;
    background-color: #74b9ff;
    margin-top: 4rem;
    cursor: pointer;
}

#submit:hover {
    background-color: #0984e3;
}

#showscore {
    background-color: #dfe6e9;
    margin-top: 3rem;
    padding: 3rem 4rem;
    box-shadow: 0 1rem 1rem -0.7rem rgba(0, 0, 0, 0.4);
    display: none;
}

#showscore h3 {
    font-size: 2rem;
    text-align: center;
}

#showscore .btn {
    margin-top: 2rem;
    background-color: #55efc4;
    color: #2d3436;
}

#showscore .btn:hover {
    background-color: #00b894;
    color: #fff;
}

.scorearea {
    display: none;
}




/* score page */
#show_scoreborad{
    display: none;
    min-height: 70vh;
}
.page_title {
    text-align: center;
    margin-top: 50px;
}

#scores_list {
    width: 30%;
    margin: auto;
    padding: 5px;
    border: 1px solid black;
}

#scores_list li {
    margin-bottom: 5px;
    padding: 3px 0;
    display: flex;
    justify-content: space-between;
}


#scores_list li:nth-child(even) {
    background-color: #fff;
}

#instructions{
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 857999;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#instructions div{
    width: 50%;
    background-color: white;
    position: relative;
    padding: 15px 10px;
}
 #instructions h1{
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 15px; 
 }
 #instructions button {
    font-size: 25px;
    padding: 5px;
 }

#instructions p{
    color: black;
    font-size: 23px;
}

footer {
    background-color: #00b894;
    height: 100px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 25px;
    
}

@media (max-width: 768px){
    .main-div{
        min-height: 83vh;
    }
}


@media only screen and (max-width: 678px) {
    .inner-div {
        width: 98%;
        padding: 1.5rem 2rem;
    }
    nav {
        justify-content: flex-start;
        flex-wrap: wrap;
        gap: 5px;
    }
    nav button{
        display: block;
        width: 60%;
    }
    nav button:hover{
        font-size: 17px;
    }

    #home button{
        color: white;
        font-size: 22px;
        padding: 5px 15px;
        background-color: #00b894;
        border-radius: 5px;
        box-shadow: 2px 2px black;
        cursor: pointer;
        transition: all .3s ease-in;
    }
}

@media only screen and (max-width: 524px) {
    .main-div{
        min-height: 72vh;
    }
    .home_screen {
        padding-top: 0;
    }

    .home_screen img {
        height: 200px;
        max-width: 200px;
    }
    

    /*.main-div{
        /* min-height: 30vh; */
    }
   
   